.navbar-brand {
  color: rgb(38, 55, 7);
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #222;
  font-size: 2.3em;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.navbar {
  background-color: rgb(36, 150, 160);
  box-shadow: 0px 5px 2px rgb(8, 32, 32);
  border: 2px rgb(15, 94, 120);
}
.navbar-nav {
  font-size: 1.2em;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.background {
  background-color: darkseagreen;
}
.content-box {
  border: 2px;
  background-color: bisque;
  padding: 20px;
  margin: 20px;
  margin-bottom: 40px;
  box-shadow: 0px 2px 2px rgb(50, 135, 116);
  border: 1px rgb(3, 12, 15);
}
.menu-head {
  text-align: center;
  font-size: 2.1em;
  color: rgb(10, 43, 86);
  padding-top: 20px;
  font-weight: bold;
  font-family: serif;
  text-shadow: 1px 1px 1px rgb(161, 204, 121);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.dish-title {
  font-size: 1.6em;
  color: rgb(12, 72, 62);
  text-align: center;
  margin-bottom: 10px;
}
p {
  font-size: 1.1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu-head a:hover,
.menu-head a:focus {
  text-decoration: none;
}
.end-of {
  font-size: 1em;
}
.body {
  background-color: rgb(140, 153, 166);
}
